                    <div class="container">
                        <div class="row" id="team">
                            <div class="col-md-12">
                                <h2 data-appear-animation="fadeInLeft">Meet our <strong>Board</strong></h2>

                                <div class="row">

                                    <ul class="team-list">
                                        <li class="col-md-3">
                                            <div class="team-item thumbnail">
                                                <a href="#" class="thumb-info team">
                                                    <img alt="" src="img/brian.jpg">
                                                    <span class="thumb-info-title">
                                                        <span class="thumb-info-inner">Brian Modansky</span>
                                                        <span class="thumb-info-type">Wordpress, Website Design</span>
                                                    </span>
                                                </a>
                                                <span class="thumb-info-caption">
                                                    <p>Brian mentors everyone from novices who are just getting their first website online to advice for advanced users.</p>
                                                    <!--<span class="thumb-info-social-icons">-->
                                                        <!--<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com/webhostingcoop" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>-->
                                                        <!--<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com/webhostingcoop" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>-->
                                                        <!--<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com/webhostingcoop" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>-->
                                                    <!--</span>-->
                                                </span>
                                            </div>
                                        </li>
                                        <li class="col-md-3">
                                            <div class="team-item thumbnail">
                                                <a href="#" class="thumb-info team">
                                                    <img alt="" src="img/john.jpg">
                                                    <span class="thumb-info-title">
                                                        <span class="thumb-info-inner">John Van Lowe</span>
                                                        <span class="thumb-info-type">Administration, Apache, DNS</span>
                                                    </span>
                                                </a>
                                                <span class="thumb-info-caption">
                                                    <p>John is our head administrator. He mentors on any system/server administration subject. He is an avid proponent to open source. </p>
                                                    <!--<span class="thumb-info-social-icons">-->
                                                        <!--<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com/webhostingcoop" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>-->
                                                        <!--<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com/webhostingcoop" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>-->
                                                        <!--<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com/webhostingcoop" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>-->
                                                    <!--</span>-->
                                                </span>
                                            </div>
                                        </li>
                                        <li class="col-md-3">
                                            <div class="team-item thumbnail">
                                                <a href="#" class="thumb-info team">
                                                    <img alt="" src="img/josh.jpg">
                                                    <span class="thumb-info-title">
                                                        <span class="thumb-info-inner">Joshua Cox</span>
                                                        <span class="thumb-info-type">Virtualization, Clusters, Cloud</span>
                                                    </span>
                                                </a>
                                                <span class="thumb-info-caption">
                                                    <p>Josh is our technical guru. He architects platforms which use cutting edge technology and mentors future developers. </p>
                                                    <!--<span class="thumb-info-social-icons">-->
                                                        <!--<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com/webhostingcoop" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>-->
                                                        <!--<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com/webhostingcoop" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>-->
                                                        <!--<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com/webhostingcoop" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>-->
                                                    <!--</span>-->
                                                </span>
                                            </div>
                                        </li>
                                        <li class="col-md-3">
                                            <div class="team-item thumbnail">
                                                <a href="#" class="thumb-info team">
                                                    <img alt="" src="img/maurice.jpg">
                                                    <span class="thumb-info-title">
                                                        <span class="thumb-info-inner">Maurice Hamoy</span>
                                                        <span class="thumb-info-type">cPanel, Email, Statistics</span>
                                                    </span>
                                                </a>
                                                <span class="thumb-info-caption">
                                                    <p>Maurice is our technology veteran. He advises on all matters pertaining to members needs and is in charge of our classes.</p>
                                                    <!--<span class="thumb-info-social-icons">-->
                                                        <!--<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com/webhostingcoop" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>-->
                                                        <!--<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com/webhostingcoop" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>-->
                                                        <!--<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com/webhostingcoop" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>-->
                                                    <!--</span>-->
                                                </span>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
