              <div class="social-icons">
                <ul class="social-icons">
                  <li class="googleplus"><a href="https://plus.google.com/109270399400052021402" target="_blank" rel="publisher">Google+</a></li>
                  <li class="facebook"><a href="http://www.facebook.com/webhostingcoopfoundation" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
                  <li class="twitter"><a href="https://twitter.com/WHCFoudation" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
                  <li class="linkedin"><a href="http://www.linkedin.com/in/webhostingcoopfoundation/en" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
                </ul>
              </div>
