                    <div class="container">

                        <div class="row center">
                            <div class="col-md-12" style="margin:10px 0;">
                                <h2 class="short">Our <strong class="inverted" data-appear-animation="bounceIn">Mission </strong> is to provide education and technological services </h2>
                                <p class="featured lead left-just">
                                       to individuals and organizations to utilize media to have their voices heard.  Additionally, we are seeking to build the infrastructure to develop, consult, support and host nonprofit organization's online presence to relieve them of this burden that is all too time consuming.
                                </p>
                            </div>
                        </div>

                        <hr class="tall" />
                    </div>
