			<header class="single-menu flat-menu">
				<div class="container">
					<h1 class="logo">
						<a href="index.html">
							<img alt="Porto" src="img/logo-foundation.png">
						</a>
					</h1>
					<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="icon icon-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
             {% include whc-socialicons.html %}
						<nav class="nav-main">
							<ul class="nav nav-pills nav-main" id="mainMenu">
								<li class="dropdown active">
									<a class="dropdown-toggle" href="/">
										Home</a>
								</li>
								<li>
									<a href="/">Mission</a>
								</li>
								<li>
									<a href="/board.html">Board</a>
								</li>
								<li>
									<a href="/classes.html">Classes</a>
								</li>
								<li>
									<a href="/donate.html">Donate</a>
								</li>
								<!--<li>-->
									<!--<a data-hash href="#features">Features</a>-->
								<!--</li>-->
								<!--<li>-->
									<!--<a data-hash href="#team">Meet our Mentors</a>-->
								<!--</li>-->
							</ul>
						</nav>
					</div>
				</div>
			</header>
