                    <div class="container">

                        <div class="row" id="register">
                            <div class="col-md-6 whcCenter whc100">

                                <div class="alert alert-success hidden" id="contactSuccess">
                                    <strong>Success!</strong> Your message has been sent to us.
                                </div>

                                <div class="alert alert-error hidden" id="contactError">
                                    <strong>Error!</strong> There was an error sending your message.
                                </div>

                                <h2 class="short"><strong>Register</strong> For Classes</h2>
                                <!--<form action="send-form-email.php" id="contactForm" type="post">-->
                                    <!--<div class="row">-->
                                        <!--<div class="form-group">-->
                                            <!--<div class="col-md-6">-->
                                                <!--<label>Your name *</label>-->
                                                <!--<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name">-->
                                            <!--</div>-->
                                            <!--<div class="col-md-6">-->
                                                <!--<label>Your email address *</label>-->
                                                <!--<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="form-group">-->
                                            <!--<div class="col-md-12">-->
                                                <!--<label>Class</label>-->
                                                <!--<select name="course" id="course" class="form-control"><option>-- Select Class --</option><option>Web Hosting</option><option>Email and Email Clients</option><option>Websites / Shopping Carts</option><option>WordPress Intro</option></select>-->
                                                <!--[> <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject"><]-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="form-group">-->
                                            <!--<div class="col-md-12">-->
                                                <!--<label>Date</label>-->
                                                <!--<div style="clear:both;"></div>-->
                                                <!--<select  name="month" id="month" class="form-control" style="width:35%;float:left;margin-right:4%;"><option>-- Month --</option><option>January</option><option>Februrary</option><option>March</option><option>April</option></select><select class="form-control" name="day" id="day" style="width:35%;margin-right:4%;float:left;"><option>-- Day --</option><option>1</option></select><select class="form-control" style="width:20%;float:left;"><option>2014</option></select>-->
                                                <!--[> <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject"><]-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="form-group">-->
                                            <!--<div class="col-md-12">-->
                                                <!--<label>Message *</label>-->
                                                <!--<textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"></textarea>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-12">-->
                                            <!--<input type="submit" value="Register For Course!" class="btn btn-primary btn-lg" data-loading-text="Loading...">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</form>-->
                                <div class="col-md-12">
                                    <a  href="mailto:contact@webhosting.coop">
                                    <input type="submit" value="Register For Course!" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
<!--
                                <h4 class="pull-top">Get in <strong>touch</strong></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus.</p>

                                <hr />

                                <h4>The <strong>Office</strong></h4>
                                <ul class="list-unstyled">
                                    <li><i class="icon icon-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</li>
                                    <li><i class="icon icon-phone"></i> <strong>Phone:</strong> (123) 456-7890</li>
                                    <li><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                                </ul>

                                <hr />

                                <h4>Business <strong>Hours</strong></h4>
                                <ul class="list-unstyled">
                                    <li><i class="icon icon-time"></i> Monday - Friday 9am to 5pm</li>
                                    <li><i class="icon icon-time"></i> Saturday - 9am to 2pm</li>
                                    <li><i class="icon icon-time"></i> Sunday - Closed</li>
                                </ul>
-->
<!--<iframe src="https://www.google.com/calendar/embed?height=550&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ilclrc76pbbjlb7ss4sntj58d4%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FChicago" style=" border-width:0 " width="550" height="550" frameborder="0" scrolling="no"></iframe>-->
                        </div>

                    </div>
