                    <div class="slider-container slider-container-fullscreen hidden-xs">
                        <div class="slider" id="revolutionSliderFullScreen">
                            <ul>
                                <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                                    <img src="img/slides/slide-bg-full.jpg" data-fullwidthcentering="on" alt="">

                                        <div class="tp-caption main-label lfl stl"
                                             data-x="center"
                                             data-y="10"
                                             data-speed="300"
                                             data-start="500"
            data-easing="easeOutExpo"><span class="whcDarkBlue">Web</span><span style="color: #00acef" class="whcLightblue">Hosting</span><span style="color: #545454" class="whcDarkGrey">.coop</span> Foundation</div>

                                        <div class="tp-caption lft top-label subtitle stb"
                                             data-x="center"
                                             data-y="100"
                                             data-speed="300"
                                             data-start="1000"
                                             data-easing="easeOutExpo"><p><span class="whcDarkBlue">We are a nonprofit </span><span style="color: #00acef" class="whcLightblue">dedicated to providing tech services </span><span style="color: #f4f4f4" class="whcDarkGrey">to all nonprofit</span> organizations</p></div>

                                        <!--<div class="tp-caption top-label lft stb"-->
                                             <!--data-x="center"-->
                                             <!--data-y="190"-->
                                             <!--data-speed="300"-->
                                             <!--data-start="1500"-->
                                             <!--data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""> FREE Website Training Classes <img src="img/slides/slide-title-border.png" alt=""></div>-->
                                        
                                        <div class="tp-caption top-label lfl stl" 
                                             data-x="600"
                                             data-y="256"
                                             data-speed="300"
                                             data-start="1500"
                                             data-easing="easeOutExpo">
                                            <ul>
                                                
                                                <p class="shorter">Complete technological hand-holding</p>
                                                <p class="shorter">so that you can quit worrying</p>
                                                <p class="shorter">about your online presence</p>
                                                <p class="shorter">and get back to saving the world</p>
                                                <!--<li style="line-height:36px;">- <strong>We Care </strong>about non-profits</li>-->
                                                <!--<li style="line-height:36px;">- <strong>Free</strong> web hosting training</li>-->
                                                <!--<li style="line-height:36px;">- <strong>Learn</strong> via hands-on workshops</li>-->
                                                <!--<li style="line-height:36px;">- <strong>Build</strong> an identity online</li>-->
                                                <!--<li style="line-height:36px;">- <strong>Sell</strong> products and services online</li>-->
                                                <!--<li style="line-height:36px;">- <strong>Learn</strong> how to market your website</li>-->

                                            </ul>
                                        
                                        </div>
                                        
                                            <div class="tp-caption main-label sft stb"
                                             data-x="140"
                                             data-y="266"
                                             data-speed="300"
                                             data-start="1700"
                                             data-easing="easeOutExpo"><img src="img/topleft.png" alt=""></div>

                                        <!-- <div class="tp-caption bottom-label sft stb"
                                             data-x="430"
                                             data-y="200"
                                             data-speed="500"
                                             data-start="2000"
                                             data-easing="easeOutExpo">Check out our options and features.</div> -->

                                        <!--<div class="tp-caption sft stb center-caption"-->
                                             <!--data-x="0"-->
                                             <!--data-y="450"-->
                                             <!--data-speed="300"-->
                                             <!--data-start="2500"-->
                                             <!--data-easing="easeOutExpo"><a data-hash href="#projects" class="btn btn-lg btn-primary main-button">View Training Classes</a></div>-->


                                </li>
                            </ul>
                        </div>
                    </div>
