.whcDarkBlue {
    color: #0071bb;
}
.whcLightBlue {
    color: #00acef;
}
.whcGrey {
    color: #545454;
}
#features {
    margin-left: auto;
    margin-right: auto;
}
.whcCenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.whc100 {
    width: 100%;
}
