<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include whc-head.html %}
    <body class="one-page" data-target=".single-menu" data-spy="scroll" data-offset="200">
        <div class="body">
        {% include whc-header.html %}
            <div role="main" class="main" id="home">
                <div id="content" class="content full">
                    {% include whc-slider.html %}
                    {% include whc-services.html %}
                    {% include whc-careaboutnonprofits.html %}
                    {% include whc-mission.html %}
                </div>
            </div>
        </div>
      {% include whc-footer.html %}
      {% include whc-script-footer.html %}
    </body>
</html>
