			<footer class="short" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h4>WebHosting.coop Foundation</h4>
							<p>Free Website Classes provided by WebHosting.coop Foudation, a 501c3 non-profit organization</p>
							<hr class="light">
						</div>
						<div class="col-md-3 col-md-offset-1" id=contact>
                            <h5 class="short">Contact Us</h5>
							<span class="phone">(855) 512-2667</span>
							<ul class="list icons list-unstyled">
								<li><i class="icon icon-envelope"></i> <a href="mailto:contact@webhosting.coop">contact@webhosting.coop</a></li>
							</ul>
             {% include whc-socialicons.html %}
             {% include whc-donate.html %}
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							
							<div class="col-md-11">
								<p>© Copyright 2013 by WebHosting.coop Foundation. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
