<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="ppnr4OqPBZB6tRu29l_NzSGS9vm3rEOOBTqknIJxcKk" />
  <title>WebHosting.coop Foundation - Free Website Training Classes</title>
  <meta name="description" content="Free Website Training Classes for all skill levels.">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

  <!-- Libs CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="vendor/flexslider/flexslider.css" media="screen" />
  <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen" />

  <!-- Theme CSS -->
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="css/theme-elements.css">
  <link rel="stylesheet" href="css/theme-animate.css">

  <!-- Current Page Styles -->
  <link rel="stylesheet" href="vendor/rs-plugin/css/settings.css" media="screen" />
  <link rel="stylesheet" href="vendor/circle-flip-slideshow/css/component.css" media="screen" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/custom.css">

  <!-- Skin CSS -->
  <link rel="stylesheet" href="css/skins/blue.css">

  <!-- Skin CSS -->
  <link rel="stylesheet" href="css/skins/blue.css">

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="css/theme-responsive.css" />

  <!-- WHC CSS -->
  <link rel="stylesheet" href="css/whc.css">

  <!-- Favicons -->
  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.png">


  <!-- Head Libs -->
  <script src="vendor/modernizr.js"></script>

  <!--[if IE]>
    <link rel="stylesheet" href="css/ie.css">
  <![endif]-->

  <!--[if lte IE 8]>
    <script src="vendor/respond.js"></script>
  <![endif]-->

  <!-- Facebook OpenGraph Tags - Go to http://developers.facebook.com/ for more information.
  <meta property="og:title" content="Porto Website Template."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.crivos.com/themes/porto"/>
  <meta property="og:image" content="http://www.crivos.com/themes/porto/"/>
  <meta property="og:site_name" content="Porto"/>
  <meta property="fb:app_id" content=""/>
  <meta property="og:description" content="Porto - Responsive HTML5 Template"/>
  -->
</head>
