                    <section class="highlight top">
                        <div class="container">
                            <div class="row" id="projects">
                                <div class="col-md-12">
                                    <h1><strong>Free</strong> Website Training Courses</h1>

                                    <div id="popupProject" class="popup-inline-content">
                                        <h2>Website Hosting Course</h2>

                                        <div class="row">
                                            <div class="col-md-6">

                                                <img class="img-thumbnail img-responsive" alt="" src="img/classbig1.jpg">

                                            </div>

                                            <div class="col-md-6">

                                                <h4>Website Hosting <strong>Course</strong></h4>
                                                <p><strong>Time:</strong> 45min<br /><strong>Prerequisits:</strong> None</p>
                                                <h4 class="pull-top">Course Itinerary</h4>

                                                <ol class="list icons list-unstyled">
                                                    <li><i class="icon icon-check"></i> General discussion on how the internet works</li>
                                                    <li><i class="icon icon-check"></i> Different types of WebHosting (Bare Metal / Cloud) </li>
                                                    <li><i class="icon icon-check"></i> Domain Names and DNS</li>
                                                    <li><i class="icon icon-check"></i> Web Servers / Apache</li>
                                                    <li><i class="icon icon-check"></i> Web Hosting Control Panels</li>
                                                    <li><i class="icon icon-check"></i> The future of web hosting</li>
                                                </ol>
                                                <a  href="mailto:contact@webhosting.coop" class="btn btn-primary">Register For The Course!</a> <span class="arrow hlb"></span>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div id="popupProject2" class="popup-inline-content">
                                        <h2>Email and Email Clients Course</h2>

                                        <div class="row">
                                            <div class="col-md-6">

                                                <img class="img-thumbnail img-responsive" alt="" src="img/classbig2.jpg">

                                            </div>

                                            <div class="col-md-6">

                                                <h4>Email and Email Clients <strong>Course</strong></h4>
                                                <p><strong>Time:</strong> 45min<br /><strong>Prerequisits:</strong> None</p>
                                                
                                                <h4 class="pull-top">Course Itinerary</h4>

                                                <ol class="list icons list-unstyled">
                                                        <li><i class="icon icon-check"></i> What is Email and how does it work</li>
                                                    <li><i class="icon icon-check"></i> How to create, delete, and modify email accounts. </li>
                                                    <li><i class="icon icon-check"></i> Configuring Email Clients</li>
                                                    <li><i class="icon icon-check"></i> Configuring Mobile Devices</li>
                                                    <li><i class="icon icon-check"></i> Common Email Issues</li>
                                                </ol>
                                                <a  href="mailto:contact@webhosting.coop" class="btn btn-primary">Register For The Course!</a> <span class="arrow hlb"></span>

                                            </div>
                                        </div>
                                    </div>
                                    
                                        <div id="popupProject3" class="popup-inline-content">
                                        <h2>Websites / Shopping Carts Course</h2>

                                        <div class="row">
                                            <div class="col-md-6">

                                                <img class="img-thumbnail img-responsive" alt="" src="img/classbig3.jpg">

                                            </div>

                                            <div class="col-md-6">

                                                <h4>Website / Shopping Cart <strong>Course</strong></h4>
                                                <p><strong>Time:</strong> 45min<br /><strong>Prerequisits:</strong> <a href="#">WordPress Into Course</a></p>

                                                
                                                <h4 class="pull-top">Course Itinerary</h4>

                                                <ol class="list icons list-unstyled">
                                                    <li><i class="icon icon-check"></i> Introduction on WordPress Plugins</li>
                                                    <li><i class="icon icon-check"></i> E-commerce Plugins for WordPress (Free / Premium)</li>
                                                    <li><i class="icon icon-check"></i> Installing and Configuring E-commerce Plugin</li>
                                                    <li><i class="icon icon-check"></i> Adding Products</li>
                                                    <li><i class="icon icon-check"></i> Attributes and Other Product Options</li>
                                                    <li><i class="icon icon-check"></i> Shipping and Tax</li>
                                                    <li><i class="icon icon-check"></i> Merchant Accounts and Payment Gateways</li>
                                                </ol>
                                                <a  href="mailto:contact@webhosting.coop" class="btn btn-primary">Register For The Course!</a> <span class="arrow hlb"></span>

                                            </div>
                                        </div>
                                    </div>
                                        
                                        <div id="popupProject4" class="popup-inline-content">
                                        <h2>WordPress Intro Course</h2>

                                        <div class="row">
                                            <div class="col-md-6">

                                                <img class="img-thumbnail img-responsive" alt="" src="img/classbig4.jpg">

                                            </div>

                                            <div class="col-md-6">

                                                <h4>WordPress Intro <strong>Course</strong></h4>
                                                <p><strong>Time: </strong>45min<br /><strong>Prerequisits:</strong> None</p>

                                                
                                                <h4 class="pull-top">Course Itinerary</h4>

                                                <ol class="list icons list-unstyled">
                                                    <li><i class="icon icon-check"></i> General Discussion on Blogs</li>
                                                    <li><i class="icon icon-check"></i> Installing WordPress</li>
                                                    <li><i class="icon icon-check"></i> Logging into WordPress</li>
                                                    <li><i class="icon icon-check"></i> Navigating Around The Control Panel</li>
                                                    <li><i class="icon icon-check"></i> General Website Settings</li>
                                                    <li><i class="icon icon-check"></i> Website Themes</li>
                                                </ol>
                                                <a  href="mailto:contact@webhosting.coop" class="btn btn-primary">Register For The Course!</a> <span class="arrow hlb"></span>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="flexslider flexslider-top-title unstyled" data-plugin-options='{"controlNav":false, "slideshow": false, "animationLoop": true, "animation":"slide", "maxItems": 4}'>
                                            <ul class="slides">
                                                <li>
                                                    <div class="col-md-3">
                                                        <div class="portfolio-item img-thumbnail">
                                                            <a class="thumb-info lightbox" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}'>
                                                                <img alt="" class="img-responsive" src="img/class1.jpg">
                                                                <span class="thumb-info-title">
                                                                    <span class="thumb-info-inner">Website Hosting</span>
                                                                    <span class="thumb-info-type">Training</span>
                                                                </span>
                                                                <span class="thumb-info-action">
                                                                    <span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="portfolio-item img-thumbnail">
                                                            <a class="thumb-info lightbox" href="#popupProject2" data-plugin-options='{"type":"inline", preloader: false}'>
                                                                <img alt="" class="img-responsive" src="img/class2.jpg">
                                                                <span class="thumb-info-title">
                                                                    <span class="thumb-info-inner">Email and Email Clients</span>
                                                                    <span class="thumb-info-type">Training</span>
                                                                </span>
                                                                <span class="thumb-info-action">
                                                                    <span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="portfolio-item img-thumbnail">
                                                            <a class="thumb-info lightbox" href="#popupProject3" data-plugin-options='{"type":"inline", preloader: false}'>
                                                                <img alt="" class="img-responsive" src="img/class3.jpg">
                                                                <span class="thumb-info-title">
                                                                    <span class="thumb-info-inner">Websites / Shopping Carts</span>
                                                                    <span class="thumb-info-type">Training</span>
                                                                </span>
                                                                <span class="thumb-info-action">
                                                                    <span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="portfolio-item img-thumbnail">
                                                            <a class="thumb-info lightbox" href="#popupProject4" data-plugin-options='{"type":"inline", preloader: false}'>
                                                                <img alt="" class="img-responsive" src="img/class4.jpg">
                                                                <span class="thumb-info-title">
                                                                    <span class="thumb-info-inner">Wordpress Intro</span>
                                                                    <span class="thumb-info-type">Training</span>
                                                                </span>
                                                                <span class="thumb-info-action">
                                                                    <span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!--<li class="websites">
                                                    <div class="col-md-3">
                                                        <div class="portfolio-item img-thumbnail">
                                                            <a class="thumb-info lightbox" href="#popupProject4" data-plugin-options='{"type":"inline", preloader: false}'>
                                                                <img alt="" class="img-responsive" src="img/projects/project.jpg">
                                                                <span class="thumb-info-title">
                                                                    <span class="thumb-info-inner">SEO</span>
                                                                    <span class="thumb-info-type">Website</span>
                                                                </span>
                                                                <span class="thumb-info-action">
                                                                    <span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="portfolio-item img-thumbnail">
                                                            <a class="thumb-info lightbox" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}'>
                                                                <img alt="" class="img-responsive" src="img/projects/project-1.jpg">
                                                                <span class="thumb-info-title">
                                                                    <span class="thumb-info-inner">Red Wine</span>
                                                                    <span class="thumb-info-type">Brand</span>
                                                                </span>
                                                                <span class="thumb-info-action">
                                                                    <span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="portfolio-item img-thumbnail">
                                                            <a class="thumb-info lightbox" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}'>
                                                                <img alt="" class="img-responsive" src="img/projects/project-2.jpg">
                                                                <span class="thumb-info-title">
                                                                    <span class="thumb-info-inner">Man Running</span>
                                                                    <span class="thumb-info-type">Logo</span>
                                                                </span>
                                                                <span class="thumb-info-action">
                                                                    <span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="portfolio-item img-thumbnail">
                                                            <a class="thumb-info lightbox" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}'>
                                                                <img alt="" class="img-responsive" src="img/projects/project-3.jpg">
                                                                <span class="thumb-info-title">
                                                                    <span class="thumb-info-inner">The Code</span>
                                                                    <span class="thumb-info-type">Website</span>
                                                                </span>
                                                                <span class="thumb-info-action">
                                                                    <span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>-->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
